<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
  {% if config.description %}
    <meta name="description" content="{{ config.description }}">
  {% endif %}
  {% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
  {% endif %}
  <base url="{{ base_url}}"/>
  <meta name="generator" content="PicoCMS {{version}}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ theme_url }}/honoka/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ theme_url }}/index.css" rel="stylesheet">
</head>
<body id="i{{ page.id|replace({'/': ''}) }}">
  <div class="container-fluid" id="start">
    <!-- ヘッダー -->
    <div class="jumbotron">
      <header>
        <h1>
          {% if meta.title %}{{ meta.title }}{% else %}{{ site_title }}{% endif %}
        </h1>
        <div>
          {{ meta.description }}
        </div>
      </header>
    </div>

    <!-- パンくずリスト -->
    {% if breadcrumbs %}
      <ol class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <!-- パンくずリスト/バックサイト -->
        {% if config.breadcrumbs_backsite %}
          <li>
            <a href="{{config.breadcrumbs_backsite.url}}" itemprop="url">
              <span itemprop="title">{{config.breadcrumbs_backsite.title}}</span>
            </a>
          </li>
        {% endif %}
        <li><a href="/" itemprop="url"><span itemprop="title">{{ site_title }}</span></a></li>
        {% for crumb in breadcrumbs %}
          <li itemprop="child"{% if loop.last %} class="active"{% endif %} itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            {% if loop.last %}
              <span itemprop="title">{{ crumb.name }}</span>
            {% else %}
              <a href="{{ crumb.url }}" itemprop="url"><span itemprop="title">{{ crumb.name }}</span></a>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    {% endif %}

    <section class="contents clearfix">
      <!-- 記事 -->
      {% if content %}
        <h2 class="hidden">記事</h2>
        <section class="single-article">
          {% if TOC %}
            <div class="toc panel panel-info">
              <h3 class="panel-heading">もくじ</h3>
              <div class="panel-body">
                {{TOC}}
              </div>
            </div>
          {% endif %}
          <article class="panel panel-default">
            <div class="panel-body">
              <p class="lastupdate">記事更新日：{{meta.time|date("Y年m月d日")}}</p>
              {{ content }}
              {% if current_page.meta.download %}
                <a href="{{current_page.meta.download}}" class="btn btn-primary">ダウンロードページへ</a>
              {% endif %}
            </div>
          </article>
        </section>
      {% endif %}

      <!-- サブディレクトリ内容(indexのみ) -->
      {% if current_page.id ends with 'index' %}
        <h2 class="hidden">サブコンテンツ</h2>
        <section class="subdirectory">
          {% for page in dir_pages if page.title != "" %}
            <div class="col-md-4 col-sm-6 col-xs-12">
              <article class="panel panel-default" id="i{{ page.id|replace({'/': ''}) }}">
                <div class="panel-heading">
                  <h3>
                    <a href="{{page.url}}">
                      {{ page.title }}
                    </a>
                    <span class="lastupdate">
                      ({{page.fileupdate|date("m月d日")}}更新)
                    </span>
                  </h3>
                </div>
                <div class="panel-body">
                  {{ page.description }}
                  {% if page.meta.download %}
                    <a href="{{page.meta.download}}" class="btn btn-primary">ダウンロードページへ</a>
                  {% endif %}
                </div>
              </article>
            </div>
            {% if loop.index % 2 == 0 %}
              <div class="clearfix visible-sm"></div>
            {% endif %}
            {% if loop.index % 3 == 0 %}
              <div class="clearfix visible-md visible-lg"></div>
            {% endif %}
          {% endfor %}
        </section>
        
        <!-- ページネーション -->
        {% if dir_paginate and dir_paginate.enabled %}
          <nav>
            <ul class="pagination">
              {% if dir_paginate.hasprev %}
                <li><a href="{{ dir_paginate.prevurl }}">前のページへ</a></li>
              {% endif %}
              {% for i in range(1, dir_paginate.pagemax) %}
                {% if dir_paginate.pageindex == i %}
                  <li class="active"><a href="#">{{ i }}</a></li>
                {% else %}
                  <li>
                    <a href="{{ i }}">
                      {{ i }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if dir_paginate.hasnext %}
                <li><a href="{{ dir_paginate.nexturl }}">次のページへ</a></li>
              {% endif %}
            </ul>
          </nav>      
        {% endif %}

      {% endif %}
    </section>

    <!-- フッター -->
    <footer class="panel panel-default">
      <p class="lastupdate">この記事の最終更新日：{{current_page.fileupdate|date("Y年m月d日")}}</p>
      <a href="#start">このページの先頭へ</a>
      <p>{{ config.copyright }}</p>
      {{ config.footer }}
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ theme_url }}/honoka/js/bootstrap.min.js"></script>
</body>
</html>
